.lisa{
background-color: #088A68 !important;
}
.delete{
  background-color: #BC2424 !important;
}
.edit{
  background-color: #3D75AC !important;
}
.edit:hover{
  background-color: #699CD0;
}
.delete:hover{
  background-color: #D46565;
}
.lisa:hover{
  background-color: #77B179;
}
